.dashboard {
    display: flex;
    height: 100vh;
    color: #333;
    background-color: #f4f7fc;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.logo {
    padding: 20px;
    background-color: #1572A1;
    color: white;
    text-align: center;
    font-weight: bold;
}

.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 20px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #eaeaea;
    transition: background-color 0.3s ease;
}

.menu-item:hover, .menu-item.active {
    background-color: #eaeaea;
}

.main-content {
    flex-grow: 1;
    background-color: #f4f7fc;
}

.header {
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid #eaeaea;
    display: flex;
    align-items: center;
}


.content {
    padding: 20px;
    /* Add a more aesthetic font and some spacing to the welcome message */
    font-family: 'Arial', sans-serif;
}

/* Style the user's name with a medium font size and a different color */
.user-name {
    font-size: 1.5rem; /* Medium font size */
    color: #1572A1; /* A color that matches the logo for consistency */
    margin-top: 10px; /* Add some space above the user name */
}

.product-list {
    margin-top: 20px;
}
.product-item {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}
.delete-icon {
    color: #ff6666;
    cursor: pointer;
    margin-left: 10px; /* Add some space between the product title and the delete icon */
}
.product-item {
    list-style: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-details h3 {
    margin: 0;
    margin-bottom: 5px;
}

.product-details p {
    margin: 0;
    margin-bottom: 10px;
}

.delete-icon {
    color: #ff6666;
    cursor: pointer;
}

/* Position delete button */
.product-item:hover .delete-icon {
    display: block;
}

.delete-icon {
    display: none;
}

